%div.side-image
  %div.images-wrapper
  %div.side-image-content
    %h4 We'd love to hear from you.
    %h1 Contact Us
    = partial "contact_form"
    %ul
      %li= BIZ_NAME
      %li= BIZ_ADDRESS
      %li= BIZ_EMAIL
      %li= BIZ_PHONE