!!!
%html
  %head
    %title= NAV[active.downcase.to_sym][:title]
    %meta{:name => "description", :content => NAV[active.downcase.to_sym][:description]}
    = partial 'schema', locals: { active: active }
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/main.css'}
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"}
    %script{:type => "text/javascript", :src  => "/js/main.js"}
    = GOOGLE_ANALYTICS_TAG
    = WEBMASTER_TOOLS_SITE_VERIFICATION
  %body
    %a.js-menu-trigger.sliding-panel-button.sticky
      %img{:src => "/img/menu.png"}
    %a.bizinfo(title= "Call Us" href= "tel:+#{BIZ_PHONE}")
      = BIZ_PHONE + " | "
      - HOURS.each do |day|
        - if day.keys.first.to_s == Time.now.strftime("%A").downcase
          = "#{day.values.first} on #{day.keys.first.to_s.capitalize}s"
    = partial 'side_navigation', locals: { active: active }
    %section
      = yield
    %section.events
      %h2 Upcoming Events
      = partial "events", locals: { events: events }
    %footer.footer
      = partial 'footer', locals: { active: active }
